/bin/
**.class
**.jar
/build
/.gradle
/.settings
.classpath
.project
.idea/
/src/main/java/edu/odu/cs/cs350/red2/LexicalTools/JavaScanner.java
/src/main/java/edu/odu/cs/cs350/red2/LexicalTools/CppScanner.java

